{% extends "layout/base.html" %}

{% block body %}
   <div class="center-container">
        <div class="row align-items-center h-100">
            <div class="col-md-8 mx-auto">
                {% if message %}
                    <div 
                       class="alert 
                       alert-{% if not message.error %}success{% else %}danger{% endif %}" 
                       role="role"
                    >
                        {{ message.message }}
                    </div>
                {% endif %}

                <form action="/add_request" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter feature title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter feature description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="client">Client</label>
                        <select 
                           data-bind="options: clients,
                                      optionsText: 'clientName',
                                      optionsValue: 'clientId',
                                      value: selectedClient,
                                      optionsCaption: 'Choose...'"
                            class="form-control" 
                            id="client" 
                            name="client"
                            required
                        ></select>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="priority">Priority</label>
                            <select 
                                data-bind="options: priorities,
                                           optionsText: 'priority',
                                           optionsValue: 'priority',
                                           value: selectedPriority,
                                           optionsCaption: 'Select priority'"
                                class="form-control" 
                                id="priority" 
                                name="priority"
                                required
                            ></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="target_date">Target date</label>
                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                <input 
                                    type="text" 
                                    class="form-control datetimepicker-input" 
                                    data-target="#datetimepicker4" 
                                    id="target_date"
                                    name="target_date"
                                    required
                                >
                                <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_area">Product Area</label>
                        <select class="form-control" id="product_area" name="product_area" required>
                            {% for category in product_categories%}
                               <option value="{{ category.id }}"> {{ category.name }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">

        var Client = function(name, id) {
            this.clientName = name;
            this.clientId = id;
        };

        var Priority = function(val) {
            this.priority = val;
        };
    
        var viewModel = {
            clients : ko.observableArray([]),
            selectedClient : ko.observable(), // Nothing selected by default
            priorities: ko.observableArray([]),
            selectedPriority : ko.observable()
        };
        
        // Get all clients from the database
        fetch(`/get_clients`)
            .then( (response) => {
                return response.json();
            })
            .then( (response) => {
                for (data of response.data) {
                    viewModel.clients.push(new Client(data.client_name, data.client_id));
                }
            });

        // When the selected clients changes,
        // Get the priority of the new client
        viewModel.selectedClient.subscribe(function(client_id) {
            fetch(`/get_client_priority/${client_id}`)
                .then( (response) => {
                    return response.json();
                })
                .then( (response) => {
                    viewModel.priorities.removeAll();
                    response.priorities.forEach( (value, index) => {
                        viewModel.priorities.push(new Priority(value));
                    });
                });
        });

        ko.applyBindings(viewModel);
        
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}