<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BOOTSTRAP CDN      -->      
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type=text href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}">

    <title> IWS Feature Request </title>
    <style>
       .left-container {
            height: 99vh;
            width: 100vw;
        }
        body, html {
            overflow:hidden;
            background: #FFFFFF;
        }

        .tooltip {
          background-color: #4E74B2; 
          //color: #FFFFFF; 
          border: 1px solid #4E74B2; 
          padding: 4x;
          font-size: 12px;
        }

         .tooltip > .tooltip-arrow {
           border-top: 1px solid #4E74B2;
        }
        tr:hover td {
          background:#4E74B2;
        }



    </style> 
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: rgba(27,27,27,.60) !important;">   <!--#AFAFAF  #4E74B2  rgba(27,27,27,.60)   #7CA2C1 -->
            <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarTogglerDemo01" 
                aria-controls="navbarTogglerDemo01" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <img src="static/img/iws2.png" alt="">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active"> <!-- <span class="sr-only">(current)</span> -->
                        <a class="nav-link tc1" data-toggle="tooltip" data-placement="top" href="/requests"><img src="static/img/s1.jpg" alt="" title="View Feature Request(s)"> REQUESTS </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link tc1" data-toggle="tooltip" data-placement="top" href="/"><img src="static/img/s1.jpg" alt="" title="Add a new Feature Request"> ADD </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mt-4 mt-lg-0">
                  
                </ul>
                {% if session.get('logged_in') %}
                <span class="navbar-text">
                    <a class="nav-link" href="/logout"><img src="static/img/s1.jpg" alt=""> LOGOUT <span class="sr-only"></span></a>
                </span>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block script %} 
            <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
            <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
            <script type="text/javascript">
              $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
              });
            </script>
        {% endblock %}
  </body>
</html>